{% extends "base_content.html" %}
<!-- template about.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "About" %}{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
{% trans "About" %}
</div>

<div class="content">
        <p><strong>What?</strong></p>
	<p>xwordclub is an online community for crossword enthusiasts. Feel free to ask any question pertaining
	  to cryptic crosswords.
	</p>

        <p><strong>Who?</strong></p>
	<p>This site is run by users like you. Everyday, cryptic crosswords from various dailies are posted
	   in the forum and discussed by them.
	</p>

        <p><strong>Why?</strong></p>
	<p>Mainly because there is no one stop in the web for general discussion of crosswords. xwordclub serves
	  as a combination of a collaborative wiki + blog + forum for all things cryptic crossword.
	</p>

        <p><strong>more.</strong></p>
	<p>Check the FAQ for more information about xwordclub.
	</p>

</div>
{% endblock %}
<!-- end template about.html -->
