{% extends "base_content.html" %}
<!-- template about.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "About" %}{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
{% trans "About" %}
</div>

<div class="content">
        <p>
        xwordclub is an online community for solving the cryptic crosswords which appear in The Hindustan times.
	The post which led to the genesis of this site can be found <a href="http://www.crosswordunclued.com/2010/02/blog-for-hindustan-times-crossword.html">here</a>.
	</p>

        <p><strong>Links</strong></p>
	<a href="http://fifteensquared.net/">FifteenSquared</a> is a blog for discussion and analysis of Guardian and Independent cryptics.
	<a href="http://thehinducrosswordcorner.blogspot.com/">The Hindu Crossword Corner</a> is a blog for discussion of crypyics which appear in The Hindu.
	<a href="http://www.crosswordunclued.com/">Crossword unclued</a> is a blog about cryptic crosswords.
	Please <a href="mailto:admin@xwordclub.com">mail</a> if your page is not listed here.
	</p>

        <p><strong>more.</strong></p>
	<p>Check the <a href="/faq">FAQ</a> for more information about xwordclub.
	</p>

</div>
{% endblock %}
<!-- end template about.html -->
