{% extends "base_content.html" %}
<!-- template faq.html -->
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}FAQ{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#nav_faq").attr('className',"on");
        });

        </script>
{% endblock %}
{% block content %}
<div class="headNormal">
    {% trans "Frequently Asked Questions " %}(FAQ)
</div>
<div id="main-body" class="about" style="width:100%">

        <div class="first">
            <h3 class="subtitle">{% trans "What's this site all about?" %}</h3>
            <p>
	      A forum for solving The Hindustan Times cryptics.
            </p>
        </div>
    
        <div>
            <h3 class="subtitle">{% trans "How does it work?" %}</h3>
            <p>
            Everyday, someone from the forum uploads the Hindustan times crossword clues as a new post.The junta start putting in the answers as a reply to that post. The usual procedure to post a reply is to copy the last clues post and enter our answers beside the unsolved clues. The answers need to be highlighted before posting the reply. This is done by selecting our answers and clicking the "B" icon on top of the reply box. Please refer to any of the existing crossword posts to get the hang of it.
            </p>
        </div>

        <div>
            <h3 class="subtitle">{% trans "Do I have to annotate my answers?" %}</h3>
            <p>
	      Yes. It helps newbies to understand and deconstruct the clues.
            </p>
        </div>

        <div>
            <h3 class="subtitle">{% trans "I want to post the clues. How do I do it?" %}</h3>
            <p>
	      Sure. Go to <a href="http://epaper.hindustantimes.com/"> Hindustan Times</a>, click on the "search" link. Search for the crossword. You'll get the concise and the cryptic crosswords. Click the cryptic and you'll get a printable image of the day's crossword. You can key in the clues you see there. A detailed procedure is given <a href="http://www.crosswordunclued.com/2009/12/times-crossword-syndicated-in-hindustan.html">here</a>. The convention for post title will be "HT-[ Grid number ] [ Date ] [ Month ] [ year ]". An example would be "HT-21773 5th March 2010".
            </p>
        </div>
        {% ifequal settings.EMAIL_VALIDATION 'on' %}
        <div>
            <a id='validate'></a><h3 class="subtitle">{% trans "how to validate email title" %}</h3>
            <!--special case here message must contain paragraphs-->
            {% trans "how to validate email info" %}
        </div>
        {% endifequal %}
        <div>
            <a id='gravatar'></a><h3 class="subtitle">{% trans "what is gravatar" %}</h3>
            <p>{% trans "gravatar faq info" %}</p>
        </div>
        <div>
            <h3 class="subtitle">{% trans "To register, do I need to create new password?" %}</h3>
            <p>{% trans "No, you don't have to. You can login through any service that supports OpenID, e.g. Google, Yahoo, AOL, etc." %}
            <strong><a href="/account/signin">{% trans "Login now!" %}</a> »</strong> 
            </p>
        </div>
    
        <div>
            <h3 class="subtitle">{% trans "I don't understand how an answer came. Can I ask a question about that?" %}</h3>
            <p>
	      Sure. General questions about cryptic crosswords are welcome.<a href="http://xwordclub.com/questions/5/HT-21772-March-4#14">Here's</a> a sample where a clue construction about the day's crossword is explained in the same post. An example of a <a href="http://xwordclub.com/questions/2/The-Guardian-No-24%2C941">separate post</a> for posing a question. Make sure to put the tag "deconstruction" while posting a separate clue. Also, it would be of greate help if you mention the source of the clue in case of a separate post.
            </p>
        </div>
        <div>
            <h3 class="subtitle">{% trans "I have a question which is not answered here." %}</h3>
	    <h3 class="subtitle">{% trans "I think I found a bug." %}</h3>
            <p>{% trans "Please send an e-mail to  admin@xwordclub.com." %} 
            <!--
            <a href="/tags/faq" class="big">{% trans "site title" %} {% trans "questions" %}</a>{% trans "." %}
            -->
            </p>
        </div>
</div>
<script type="text/javascript">
    //highlihts section if url has matching #anchor_name
    $(document).ready(function (){
        var hash = window.location.hash;
        if (hash.length > 1){
            $(hash).parent().addClass('highlight');
            window.location.hash = hash;
        }
    })
</script>
{% endblock %}
<!-- end template faq.html -->
