<!-- template footer.html -->
{% load extra_tags %}
{% load i18n %}

    <div id="ground">
        <div class="footerLinks" >
            <a href="/about">{% trans "about" %}</a><span class="link-separator"> |</span>
            <a href="/faq">{% trans "faq" %}</a><span class="link-separator"> |</span>
            <a href="/annotation">{% trans "annotation" %}</a><span class="link-separator"> |</span>
<!--             <a href="http://blog.xwordclub.com">{% trans "blog" %}</a><span class="link-separator"> |</span> -->
            <a href="mailto:admin@xwordclub.com">{% trans "BUGS?" %}</a><span class="link-separator"> |</span>
            <a href="/legal">{% trans "legalese" %}</a>
        </div>
	</div>
<!-- end template footer.html -->
