{% extends "base.html" %}
<!-- index.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% load extra_filters %}
{% block title %}{% spaceless %}{% trans "Home" %}{% endspaceless %}{% endblock %}
{% block meta %}
<meta name="keywords" content="{{ settings.APP_KEYWORDS }}" />
<meta name="description" content="{{ settings.APP_DESCRIPTION }}" />
{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            var tab_id = "{{ tab_id }}";
            $("#"+tab_id).attr('className',"on");
            $("#nav_questions").attr('className',"on");
        });

        </script>
{% endblock %}
{% block content %}
<div class="tabBar">
    <div class="headQuestions">{% trans "Crosswords" %}</div>
    <div class="tabsA">
    	 <a id="latest" href="?sort=latest" title="{% trans "last updated questions" %}" >{% trans "newest" %}</a>
        <a id="all" href="/crosswords/" title="{% trans "all crosswords" %}" >{% trans "all crosswords" %}</a>
    </div>
</div>

<div id="listA">
    {% for question in questions %}
    <div class="qstA">
        <h2>
            <a href="{{ question.get_absolute_url }}" title="{{ question.summary }}...">
            {{ question.get_question_title }}
            </a>
        </h2>
        <div class="summary">
            {{ question.summary }}...
        </div>
        <div class="from">
            {% comment %}{% gravatar question.last_activity_by 24 %}{% endcomment %}
            <span class="author"><a href="{{ question.last_activity_by.get_profile_url }}">{{ question.last_activity_by }}</a></span>
            <span class="score">({% get_score_badge question.last_activity_by %})</span>
            <span class="date" title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}, {{ question.view_count|cnprog_intword|safe }} views</span>
	    <span class="tags">
	    {% for tag in question.tagname_list %}
	    <a href="{% url forum.views.tag tag|urlencode %}" title="{% trans "see questions tagged" %}'{{ tag }}'{% trans "using tags" %}" rel="tag">{{ tag }}</a>
	    {% endfor %}
	    </span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
<a href="http://twitter.com/xwordclub" title="{% trans "follow @xwordclub on twitter" %}">  
<img src="/content/images/twitter.png" width="100" height="100"/>
<br/>
  {% trans "follow @xwordclub on twitter" %}</a>
</div>

<div class="sidebar">  
<a href="/feeds/rss" title="{% trans "subscribe to last 30 questions by RSS" %}">  
<img src="/content/images/feed-icon-small.png" width="100" height="100"/>
<br/>
  {% trans "subscribe to xwordclub crosswords" %}</a>
</div>
{% endblock %}
{% block tail %}
<div style="padding:5px 0 5px 5px;">
</div>
{% endblock %}
<!-- index.html -->
