{% extends "base_content.html" %}
<!-- legalese.html -->
{% load extra_tags %}
{% load i18n %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "Legalese" %}{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
	{% trans "About the crosswords that appear in xwordclub.com" %}
</div>
<div id="main-body" style="width:100%">
    <p>
	Unless otherwise stated explicitly, all the crosswords that appear in xwordclub.com are copyright of
	the respective newspapers from which they've been taken.
    </p>
    
    <br><br>
</div>
{% endblock %}
<!-- end legalese.html -->
