{% extends "base.html" %}
<!-- question.html -->
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{{ question.get_question_title }}{% endspaceless %}{% endblock %}
{% block forejs %}
	{% if settings.OFFLINE %}
	    <!-- Skin CSS file -->
	    <link rel="stylesheet" type="text/css" href="/content/js/yui/build/assets/skins/sam/skin.css">
	    <!-- Utility Dependencies -->
	    <script src="/content/js/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
	    <script src="/content/js/yui/build/element/element-min.js"></script> 
	    <!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
	    <script src="/content/js/yui/build/container/container_core-min.js"></script>
	    <!-- Source file for Rich Text Editor-->
	    <script src="/content/js/yui/build/editor/simpleeditor-min.js"></script>
	    <script type='text/javascript' src='/content/js/jquery-ui-1.8.2.custom.min.js'></script>
        {% else %}
	    <!-- Skin CSS file -->
	    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/assets/skins/sam/skin.css">
	    <!-- Utility Dependencies -->
	    <script src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
	    <script src="http://yui.yahooapis.com/2.8.1/build/element/element-min.js"></script> 
	    <!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
	    <script src="http://yui.yahooapis.com/2.8.1/build/container/container_core-min.js"></script>
	    <!-- Source file for Rich Text Editor-->
	    <script src="http://yui.yahooapis.com/2.8.1/build/editor/simpleeditor-min.js"></script>
            <script>google.load("jqueryui", "1.8");</script>
        {% endif %}

	<link rel="stylesheet" type="text/css" href="/content/style/ui/jquery.ui.all.css" />
        {% if not question.closed and request.user.is_authenticated %}
        <script type='text/javascript' src='/content/js/com.cnprog.editor.js'></script>
        <script type='text/javascript' src='/content/js/wmd/showdown.js'></script>
        <script type='text/javascript' src='/content/js/wmd/wmd.js'></script>
        <link rel="stylesheet" type="text/css" href="/content/js/wmd/wmd.css" />
        {% endif %}
        <script type='text/javascript' src='/content/js/com.cnprog.post.js'></script>
        <script type='text/javascript' src='/content/js/jquery.validate.pack.js'></script>

        <script type="text/javascript">
        // define reputation needs for comments
        var repNeededForComments = 0;
	var noAnswersTill8PMMessage = $.i18n._('cannot post replies till 8PM.');
        $().ready(function(){
            $("div.preview-toggle > table > tbody > tr > td:eq(1)").hide();
            $("#nav_questions").attr('className',"on");
            var answer_sort_tab = "{{ tab_id }}";
            $("#" + answer_sort_tab).attr('className',"on");
            clueComments.init({{ question.id }},'{{ request.user.id }}', '{{ request.user.username }}', {{ click_clues }});
            questionComments.init({{ question.id }},'{{ request.user.id }}', '{{ request.user.username }}');
            answerComments.init({{ question.id }},'{{ request.user.id }}', '{{ request.user.username }}');	    
            Vote.init({{ question.id }}, '{{ question.author.id }}','{{ request.user.id }}');
            
            {% if not question.closed and request.user.is_authenticated %}initEditor();{% endif %}
            {% if not render_replies %}
	    $("#reply").click(function(e) {
	              e.preventDefault();  showMessage($("#previewer"),noAnswersTill8PMMessage);
	    });

            {% if request.user.is_authenticated %}
	    $(".comments-link").each(function(index) {
	              var l = ("comments-link-clue-").length;
                      var id = $(this).attr("id").substring(l);
                      clueComments.fetchComments(id, "/users/{{ request.user.id }}/{{ request.user.username }}");
	    });
            {% endif %}

	    {% else %}
	    $("a[id^='comments-link-clue-']").click();
	    $(".comment-div").hide();
            {% endif %}

            lanai.highlightSyntax();
            $('#btLogin').bind('click', function(){window.location.href='/account/signin/'; } )
        });

        function initEditor(){
            $('#editor').TextAreaResizer();
            //highlight code synctax when editor has new text
            $("#editor").typeWatch({highlight: false, wait: 3000,
                             captureLength: 5, callback: lanai.highlightSyntax});
                             
            var display = true;
            var txt = "[{% trans "hide preview" %}]";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "[{% trans "show preview" %}]" : "[{% trans "hide preview" %}]";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });
            
            setupFormValidation("#fmanswer", CPValidator.getQuestionFormRules(), CPValidator.getQuestionFormMessages());
        }
        </script>
{% endblock %}
        
{% block content %}
<div class="headNormal">
    <a href="{{ question.get_absolute_url }}">{{ question.get_question_title }}</a>    
</div>
<div id="main-body" class="">
    <div id="askform">
        <form id="fmanswer" action="{% url answer question.id %}" method="post">
            <table style="width:100%;" id="question-table" {% if question.deleted %}class="deleted"{%endif%}>
                <tr>
                    <td>
                        <div id="item-right">
                            <div class="question-body">
                                {{ question.html|safe }}
                            </div>
                            <div id="question-tags" class="tags" >
                                {% for tag in question.tagname_list %}
                                    <a href="{% url forum.views.tag tag|urlencode %}" class="post-tag" 
										title="{% trans "see questions tagged" %}'{{ tag }}'{% trans "using tags" %}" rel="tag">{{ tag }}</a>
                                {% endfor %}
                            </div>
                            <div id="question-controls" style="clear:both;">
                                <table width="100%">
                                    <tr>
                                        <td style="vertical-align:top">
                                            
                                            {% if request.user|can_edit_post:question %}
                                            <span class="action-link"><a href="{% url edit_question question.id %}">{% trans 'edit' %}</a></span>
                                            <span class="action-link-separator">|</span>
                                            {% endif %}
                                            {% if request.user|can_delete_post:question %}
                                            <span class="action-link"><a id="question-delete-link-{{question.id}}">{% trans "delete" %}</a></span>
                                            <span class="action-link-separator">|</span>
                                            {% endif %}
                                            {% if question.closed %}
                                            {% if request.user|can_reopen_question:question %}
                                            <span class="action-link"><a href="{% url reopen question.id %}">{% trans "reopen" %}</a></span>
                                            <span class="action-link-separator">|</span>
                                            {% endif %}
                                            {% else %}
                                            {% if request.user|can_close_question:question %}
                                            <span class="action-link"><a href="{% url close question.id %}">{% trans "close" %}</a></span>
                                            <span class="action-link-separator">|</span>
                                            {% endif %}
                                            {% endif %}
                                            
                                            <span id="question-offensive-flag-{{ question.id }}" class="offensive-flag" 
												title="{% trans "report as offensive (i.e containing spam, advertising, malicious text, etc.)" %}">
												<a>{% trans "flag offensive" %}</a>
												<span class="darkred">{% if request.user|can_view_offensive_flags %}
												{% if question.offensive_flag_count %}({{ question.offensive_flag_count }}){% endif %}{% endif %}</span>
                                            </span>
                                            
                                        </td>
                                        <td width="210px" style="vertical-align:top">
                                            {% if question.last_edited_by %}
                                            <div class="question-edit" >
                                                <table width="200px" >
                                                    <tr>
                                                        <td colspan="2"> 
                                                         {% trans "updated" %} <a href="{% url question_revisions question.id %}"><strong title="{{question.last_edited_at }}">{% diff_date question.last_edited_at  %}</strong></a>
                                                        </td>
                                                        
                                                    </tr>
                                                    {% if question.wiki %}
                                                    <tr>
                                                        <td style="width:40px;vertical-align:bottom">
                                                        {% gravatar question.last_edited_by 32 %}
                                                        </td>
                                                        <td style="width:160px; vertical-align:top">
                                                            <a href="/users/{{ question.last_edited_by.id }}/{{ question.last_edited_by.username }}">{{ question.last_edited_by.username }}</a>
                                                        </td>
                                                    </tr>
                                                    {% else %}
                                                    {% ifequal question.last_edited_by question.author %}
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                    </tr>
                                                    {% else %}
                                                    <tr>
                                                        <td style="width:40px;vertical-align:bottom">
                                                        {% gravatar question.last_edited_by 32 %}
                                                        </td>
                                                        <td style="width:160px; vertical-align:top">
                                                            <div><a href="/users/{{ question.last_edited_by.id }}/{{ question.last_edited_by.username }}">{{ question.last_edited_by.username }}</a></div>
                                
                                                            <div>
                                                            {% get_score_badge question.last_edited_by %}
                                                            </div>
                                                          
                                                        </td>
                                                    </tr>
                                                    {% endifequal %}
                                                    {% endif %}
                                                </table>
                                            </div>
                                            {% endif %}
                                            
                                        </td>
                                        <td style="vertical-align:top">
                                            {% if question.wiki %}
                                            <span class="wiki-category">{% trans "community wiki" %}</span>
                                            <div style="margin-bottom:10px"></div>
                                            {% else %}
                                            <div  class="question-mark">
                                                <table width="200px">
                                                    <tr>
                                                        <td colspan="2"> 
                                                        <p class="ts">{% diff_date question.added_at %}</p>
                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td style="width:40px; vertical-align:bottom">
                                                        {% gravatar question.author 32 %}
                                                        </td>
                                                        <td align="left" style="width:160px;vertical-align:top">
                                                            <div><a href="/users/{{ question.author.id }}/{{ question.author }}">{{ question.author }}</a></div>
                                                            <div>
                                                            {% get_score_badge question.author %}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                </table>
                                            </div>
                                            {% endif %}
                                        
                                        </td>
                                    </tr>
                                </table>
                                
                            </div>
                    </td>
                </tr>
            </table>            
            {% if question.closed %}
            <div class="question-status" style="margin-bottom:15px">
            <h3>{% blocktrans %}The question has been closed for the following reason "{{ question.get_close_reason_display }}" by{% endblocktrans %} 
			<a href="{{ question.closed_by.get_profile_url }}">{{ question.closed_by.username }}</a> 
			{% blocktrans %}close date {{question.closed_at}}{% endblocktrans %}</h3>
            </div>
            {% endif %}
            {% ifnotequal answers.length 0 %}
                <div class="tabBar">
                    <a name="sort-top"></a>
                    <div class="headQuestions">{{ answers|length }} {% trans "Comments" %}:</div>
                </div>
                {% cnprog_paginator context %}
  
                {% for answer in answers %}
                    <a name="{{ answer.id }}"></a>
                    <div id="answer-container-{{ answer.id }}" class="answer {% if answer.accepted %}accepted-answer{% endif %} {% ifequal answer.author_id question.author_id %} answered-by-owner{% endifequal %} {% if answer.deleted %}deleted{% endif %}">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <div class="item-right">
                                        <div class="answer-body">
                                            {{ answer.html|safe }}
                                        </div>
                                        <div class="answer-controls" style="clear:both;">
                                            <table width="100%">
                        	                    <tr>
                                                    <td style="vertical-align:top">
                                                        {% if request.user|can_edit_post:answer %}
                                                        <span class="action-link"><a href="{% url edit_answer answer.id %}">{% trans "edit" %}</a></span>
                                                        <span class="action-link-separator">|</span>
                                                        {% endif %}
                                                        {% if request.user|can_delete_post:answer %}
                                                        <span class="action-link">
															<a id="answer-delete-link-{{answer.id}}">
																{% if answer.deleted %}
																	{% trans "undelete" %}
																{% endif %}
																{% if not answer.deleted %}
																	{% trans "delete" %}
																{% endif %}
															</a>
														</span>
                                                        <span class="action-link-separator">|</span>
                                                        {% endif %}
                                                        <span class="linksopt">
                                                            <a href="#{{ answer.id }}" title="{% trans "answer permanent link" %}">
															{% trans "permanent link" %}
                                                            </a>
                                                        </span>
                                                        <span class="action-link-separator">|</span>
                                                        <span id="answer-offensive-flag-{{ answer.id }}" class="offensive-flag" 
															title="{% trans "report as offensive (i.e containing spam, advertising, malicious text, etc.)" %}">
															<a>{% trans "flag offensive" %}</a>
															<span class="darkred">{% if request.user|can_view_offensive_flags %}{% if answer.offensive_flag_count %}({{ answer.offensive_flag_count }}){% endif %}{% endif %}</span></span>
                                                    </td>
                        	                    	<td width="110px" style="vertical-align:top">
                                                    {% if answer.last_edited_by %}
                                                    <div class="question-edit" >
                                                        <table width="200px" >
                                                            <tr>
                                                                <td colspan="2"> 
                                                                 {% trans "updated" %}<a href="{% url answer_revisions answer.id %}"><strong title="{{answer.last_edited_at }}">{% diff_date answer.last_edited_at  %}</strong></a>
                                                                </td>
                                                            </tr>
                                                            {% if answer.wiki %}
                                                            <tr>
                                                                <td width="40px" style="vertical-align:bottom">
                                                                {% gravatar answer.last_edited_by 32 %}
                                                                </td>
                                                                <td style="width:160px; vertical-align:top">
                                                                    <div><a href="/users/{{ answer.last_edited_by.id }}/{{ answer.last_edited_by.username }}">{{ answer.last_edited_by.username }}</a></div>
                                                               
                                                                </td>
                                                            </tr>
                                                            {% else %}
                                                            {% ifequal answer.last_edited_by answer.author %}
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                            </tr>
                                                            {% else %}
                                                            <tr>
                                                                <td width="40px" style="vertical-align:bottom">
                                                                {% gravatar answer.last_edited_by 32 %}
                                                                </td>
                                                                <td style="width:160px; vertical-align:top">
                                                                    <div><a href="/users/{{ answer.last_edited_by.id }}/{{ answer.last_edited_by.username }}">{{ answer.last_edited_by.username }}</a></div>
                                                                    <div>
                                                                    {% get_score_badge answer.last_edited_by %}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endifequal %}
                                                            {% endif %}
                                                        </table>
                                                    </div>
                                                    {% endif %}
                                                    
                                                </td>
                                                 <td style="vertical-align:top">
                                                    {% if answer.wiki %}
                                                    <span class="wiki-category">{% trans "community wiki" %}</span>
                                                    <div style="margin-bottom:10px"></div>
                                                    {% else %}
                                                    <div  class="answer-mark">
                                                        <table width="200px">
                            	                            <tr>
                                                                <td width="40px" style="vertical-align:bottom">
                                                                {% gravatar answer.author 32 %}
                                                                </td>
                                                                <td style="width:160px; vertical-align:top">
								    <div>
								      <p class="ts">{% diff_date answer.added_at %}</p>
								    </div>
                                                                    <div><a href="/users/{{ answer.author.id }}/{{ answer.author.username }}">{{ answer.author }}</a></div>
                                                                    <div>
                                                                    {% get_score_badge answer.author %}
                                                                    </div>
                                                                </td>
                            	                            </tr>
                                                        </table>
                                                    </div>
                                                    {% endif %}
                                                    
                                                 </td>
                        	                    </tr>
                        	                    
                                            </table>
                                            
                                        </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
                <div class="paginator-container-left">
                    {% cnprog_paginator context %}
                </div>
            {% else %}
                <div class="line"></div>
            {% endifnotequal %}
            <div style="clear:both">
            </div>
            
            {% if not question.closed %}
            <div style="padding:10px 0 0 0;">
                <div class="headNormal">{% trans "Your reply" %}:</div>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="message">{% trans "you can reply anonymously and then login" %}</div>
            {% endif %}

            <div id="description" class="" >
                <div id="wmd-button-bar" class="wmd-panel"></div>
                {{ answer.text }}
                <div class="preview-toggle">
                    <table width="100%">
                        <tr>
                            <td>
                                <span id="pre-collapse" 
									title="{% trans "Toggle the real time Markdown editor preview" %}">{% trans "toggle preview" %}</span>
                            </td>
                            <td style="text-align:right;">
                                {{ answer.wiki }} <span style="font-weight:normal;cursor:help" title="{{answer.wiki.help_text}}">{{ answer.wiki.label_tag }} </span>
                            </td>
                        </tr>
                    
                    </table>  
                </div>
                <div id="previewer" class="wmd-preview"></div>
                {{ answer.text.errors }}
            </div>
            <br>
            <input id="reply" type="submit" value="{% trans "Submit" %}" class="submit"><span class="form-error"></span>
                {% if request.user.is_authenticated %}
                    {{ answer.email_notify }} <label for="question-subscribe-updates">{% trans "Notify me daily if there are any new replies." %}</label>
                {% else %}
                    <input type="checkbox" disabled><label>{% trans "once you sign in you will be able to subscribe for any updates here" %}</label>
                {% endif %}
            {% endif %}
            <br><br>
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="boxC">
    <p>
		{% trans "Stats" %}:
    </p>
    <p>
        {% trans "posted" %} {{ question.added_at|timesince }} {% trans "ago" %}
    </p>
    <p> 
     	{% trans "seen" %} {{ question.view_count|intcomma }} {% trans "times" %}
    </p>
    <p> 
        {% trans "last updated" %} {{ question.last_activity_at|timesince }} {% trans "ago" %}
    </p>
</div>
{% endblock %}

{% block endjs %}
{% endblock %}
<!-- end question.html -->
